{% extends 'company/base.html' %} {% block title %} reset password {% endblock title %} 

{% block content %}
    <center>
        <h1> resetpassword </h1>
    </center>

    {% if message %}
        <h3>{{ message }}</h3>
    {% else %}
        <center>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group w-50" >
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email">
            </div> <br>

            
            <button type="submit" class="btn btn-primary">Reset Password</button>
            
            
        </form>
        </center>
    {% endif %} 
{% endblock content %}