{% extends 'company/base.html' %} {% block title %} reset password {% endblock title %} 

{% block content %}
    <center>
        <h1> Reset password </h1>
    </center>

    {% if error %}
        <h3>{{ error }}</h3>
    {% else %}
        <center>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group w-50" >
                <label for="resetpassword1">Password ใหม่:</label>
                <input type="password" class="form-control" id="resetpassword1" name="resetpassword1">
            </div> <br>

            <div class="form-group w-50" >
                <label for="resetpassword2">ยืนยัน Password:</label>
                <input type="password" class="form-control" id="resetpassword2" name="resetpassword2">
            </div> <br>
            
            <button type="submit" class="btn btn-primary">Reset Password</button>
            
            
        </form>
        </center>
    {% endif %} 
{% endblock content %}